<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.gdl.lims.mapper.UserMapper">

	<!-- 회원정보 목록 조회 -->	
	<select id="selectUserList" resultType="com.gdl.lims.model.UserDto">
     	SELECT USER_ID
     		 , USER_PWD
     		 , USER_NAME
     		 , EMAIL
     		 , PHONE
     	  FROM USER
	</select>
</mapper>